//- 
doctype html
html
  head
    block head

if index
  body(resolved fullbleed layout vertical)
    block content
    //- Google Analytics for each page
    include ./analytics.jade
else
  body
    block content
    //- Google Analytics for each page
    include ./analytics.jade
