//- 
doctype html
html
  head
    block head

if index
  body.fullbleed.layout.vertical(resolved)
    block content
else
  body
    block content
    
//- Google Analytics for each page
if env == "production"
  include ./analytics.jade
