extends ./extends/analytics-wrapper.jade

block head
  include ./include/blog-head.jade    

block content
  include ./include/blog-nav.jade

  main.maxWidth800.marginAuto
    ul
      li
        a.link(href="/blog/2016-07-02_first") First Blog