extends ./analytics-wrapper.jade

block head
  title adamjyee
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")

block content
  div#marque
    a(href='/') Adam Yee

  hr

  ul
    li
      a.link(href="/blog/2016-07-02_first") First Blog

  a(class="muut" href="https://muut.com/i/adamjyee/comments" type="dynamic")
  script(src="//cdn.muut.com/1/moot.min.js")
