extends ./extends/analytics-wrapper.jade

block head
  include ./include/blog-head.jade    

block content
  include ./include/blog-nav.jade

  main.max-width-800.margin-auto
    ul
      - for (var i=0; i<articles.length; i++)
        li
          div.blog-list-item
            a.article.link(href="/blog/#{articles[i].path}") #{articles[i].articleName}
            div.line-container
            span.font-size-x-small.margin-left-5 #{articles[i].date}

  script(src='/javascripts/bower_components/jquery/jquery.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js")
  script.
    var lines = $('.line-container');
    lines.each(function(i, el) {
      var w = $(el).width();
      var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");  
      svg.setAttributeNS(null, "id", "line" + i);
      svg.setAttributeNS(null, "viewBox", "0 0 " + w + " 3");
      $(el).append(svg);

      var paper = Snap("#line" + i);
      var l = paper.line(0, 0, 0, 0);
      l.attr({
        stroke: '#bbb',
        fill: 'transparent'
      });
      setTimeout(function() {
        l.animate({x2: w}, 500);
      }, i * 175)
    });