ul
  li
    a.link(href="/code/minesweeper/") Polymer Mine Sweeper&nbsp;
    span.created created December 2014
  li
    a.link(href="/code/messages-durandal/") Messages 2&nbsp;
    span.created created September 2014
    p This is an implementation of Messages in Knockout and Durandal
  li
    a.link(href="/code/canvas/") Playing with &nbsp;
      code.created &lt;canvas&gt;&nbsp;
    span.created created June 2014
  li
    a.link(href="/code/yelp/") Using a Yelp API v1.0&nbsp;
    span.created created June 2014
    p A chance to get my feet wet with third party APIs and experiment with various MVC frameworks.
  li
    a.link(href="/code/messages-backbone/") Messages&nbsp;
    span.created created August 2013
    p.
      My first self-taught Backbone project. A simple message page that dynamically adds and displays messages.
      Messages managed through a RESTful API built with ExpressJS and MongoDB (originally built with MySQL, Django and the Django REST Framework).
      Open multiple browsers to observe adding, removing and editting messages on the fly.
