extends ./analytics-wrapper.jade

block head
  title Adam Yee - Personal Website

  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=0.6")
  meta(name="description" content="My own little web presence. About me, resume and code stuff.")
  
  script(src='javascripts/bower_components/webcomponentsjs/webcomponents-lite.min.js')
  link(rel='import' href='javascripts/bower_components/polymer/polymer.html')
  link(rel='import' href='javascripts/bower_components/iron-flex-layout/iron-flex-layout.html')
  link(rel='import' href='javascripts/bower_components/paper-header-panel/paper-header-panel.html')
  link(rel='import' href='javascripts/bower_components/neon-animation/neon-animated-pages.html')
  link(rel='import' href='javascripts/bower_components/neon-animation/neon-animatable.html')
  link(rel='import' href='javascripts/bower_components/neon-animation/neon-animations.html')
  link(rel='import' href='javascripts/bower_components/iron-ajax/iron-ajax.html')
  link(rel='import' href='javascripts/bower_components/iron-icons/iron-icons.html')
  link(rel='import' href='javascripts/bower_components/paper-tabs/paper-tabs.html')
  link(rel='import' href='javascripts/bower_components/paper-button/paper-button.html')
  link(rel='import' href='javascripts/bower_components/paper-spinner/paper-spinner.html')
  link(rel='stylesheet' href='stylesheets/index.css' shim-shadowdom)
  script(src='javascripts/bower_components/jquery/jquery.js')
  script(src='javascripts/bower_components/director/build/director.min.js')
  style(is='custom-style').
    paper-tab a {
      color: #fff;
      text-decoration: none;
    }
    paper-tab::shadow .tab-content:hover {
      cursor: pointer;
      opacity: 1;
    }
    paper-tab::shadow .tab-content {
      margin: 0;
    }
    paper-tabs::shadow #selectionBar {
      height: 4px;
    }
    paper-header-panel::shadow #mainContainer {
      padding: 20px 20%;
      font-size: 14px;
      color: #444;
    }


block content
  template#template(is='dom-bind')

    iron-ajax(id="ajax-about" url='about' handle-as='text' on-response='parseResponse')
    iron-ajax(id="ajax-code" url='code' handle-as='text' on-response='parseResponse')
    iron-ajax(id="ajax-resume" url='resume' handle-as='text' on-response='parseResponse')

    paper-header-panel.flex(mode='seamed')
      div.paper-header.layout.horizontal

        paper-tabs#tabs.flex(selected='{{selectedTab}}' noink no-slide align)
          paper-tab
            a.horizontal.center-center.layout(href='#/about') About
          paper-tab
            a.horizontal.center-center.layout(href='#/code') Code
          paper-tab
            a.horizontal.center-center.layout(href='#/contact') Contact
          paper-tab
            a.horizontal.center-center.layout(href='#/resume') Resume

        span#spacer
        div#marque
          a(href='#/about') Adam Yee
          div Front End Developer
          div Xero

      neon-animated-pages(selected='[[selectedTab]]' entry-animation='fade-in-animation' exit-animation='fade-out-animation')

        neon-animatable#about-page

        neon-animatable#code-page

        neon-animatable#contact-page
          div.fade-content.layout.horizontal
            span(style="width: 5%;")
            a#linkedin.logo-link(href="https://www.linkedin.com/pub/adam-yee/14/a25/7b0" target="_blank")
              img(src='../images/linkedin-logo.png')
            span(style="width: 8%;")
            a#github.logo-link(href="https://github.com/AdamYee" target="_blank")
              img(src='../images/github_512_black.png')

        neon-animatable#resume-page

      #spinner-container.layout.horizontal.center-justified
        paper-spinner.green(active?='{{loading}}' role='progress-bar')

  script.
    /**
     * template handlers
     */
    var visitedRoutes = [];
    var template = document.querySelector('#template');
    template.closedSections = 4;
    template.routeMap = {
      'about': 0,
      'code': 1,
      'contact': 2,
      'resume': 3
    };
    /**
     * Director Routing
     */
    function playAnimations(route) {
      if(route === 'about') {
        $('#tabs, #spacer').addClass('expand');
        $('#marque').addClass('slide');
      } else {
        $('#tabs, #spacer').removeClass('expand');
        $('#marque').removeClass('slide');
      }
    }
    function routeHandler() {
      var route = window.location.hash.slice(2) || 'about';
      template.selectedTab = template.routeMap[route];
      if(route !== 'contact' && visitedRoutes.indexOf(route) === -1) {
        visitedRoutes.push(route);
        $.ajax(route).then(function(response) {
          var div = document.createElement('div');
          div.innerHTML = response;
          $('#' + route + '-page').append(div);
        });
      }
      playAnimations(route);
    }
    var routes = {
      '/about': routeHandler,
      '/code': routeHandler,
      '/contact': routeHandler,
      '/resume': routeHandler
    }
    var router = Router(routes);
    router.init();

    template.addEventListener('dom-change', function(e) {
      // bind event handlers to template's children
      $('#resume-page').off();
      $('#resume-page').on('click', 'div.header', function() {
        var $header = $(this);
        $header.next().slideToggle(function(){
          if($header.find('.arrow').hasClass('rotate')) {
            template.closedSections -= 1;
          } else {
            template.closedSections += 1;
          }
          if(template.closedSections === 4) {
            template.showhide = true;
            $('#showhide > paper-material').text('show all');
          } else if(!template.closedSections) {
            $('#showhide > paper-material').text('hide all');
            template.showhide = false;
          }
        });
        $(this).find('.arrow').toggleClass('rotate');
      });
      // need to delegate because dom doesn't exist yet
      $('#resume-page').on('click', '#showhide', function() {
        var sections = $('div.section');
        var filtered;
        if(template.showhide) {
          filtered = sections.filter(':hidden').slideDown();
        } else {
          filtered = sections.filter(':visible').slideUp();
        }
        filtered.each(function() {
          $(this.previousSibling).find('.arrow').toggleClass('rotate');
        })
        template.closedSections = template.showhide ? 0 : 4
        template.showhide = !template.showhide;
        if(template.showhide)
          $('#showhide > paper-material').text('show all');
        else
          $('#showhide > paper-material').text('hide all');
      });
    });

    window.addEventListener('WebComponentsReady', function() {
      routeHandler();
      template.showhide = true;
    });

