@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
}
nav {
  border-bottom: 1px solid #eee;
}
main {
  padding: 50px 15px 0px 15px;
}
main > ul {
  list-style: none;
  padding-left: 0;
}
main > ul li {
  margin-bottom: 15px;
}
p {
  color: #444;
}
.navbar-inner {
  height: 50px;
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.link {
  color: #03A9F4;
  text-decoration: none;
}
.link:hover {
  color: #ff7b29;
}
.nav-link {
  margin-left: 3%;
}
.article.link {
  padding-right: 5px;
}
.max-width-1000 {
  max-width: 1000px!important;
}
.max-width-800 {
  max-width: 800px!important;
}
.padding-right-20 {
  padding-right: 20px!important;
}
.padding-left-20 {
  padding-left: 20px!important;
}
.margin-auto {
  margin: 0 auto;
}
.float-left {
  float: left!important;
}
.float-right {
  float: right!important;
}
.margin-left-5 {
  margin-left: 5px;
}
.blog-list-item {
  display: flex;
  align-items: center;
}
.blog-list-item > :nth-child(2) {
  flex-grow: 1;
}
.padding-sides-15 {
  padding: 0 15px;
}
span.date {
  font-size: x-small;
}

#svg {
  stroke-dasharray: 3 5;
  stroke-width: 2;
  margin-bottom: 3px;
}
