extends ../analytics-wrapper.jade

block head
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=0.6")
  meta(name="description" content="Using Backbone to access and edit messages through an REST interface.")

  title AY - Backbone Messages
  link(rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css")
  link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css")
  style.
    .message-row {
      display: none;
    }
    .delete {
      float: right;
    }
    .edit-container {
      float: left;
      padding-right: 10px;
      margin-top: -2px;
    }
    .edit {
      width: 100%;
      margin-top: -5px;
    }
    #notification {
      display: none;
      padding: 10px;
      text-align: center;
      background-color: #FFCCBA;
      border-radius: 5px;
    }
    #message-app {
      margin-left: 20px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      width: 640px;
      border: 1px solid #ddd;
    }
    
block content
  body
    
    h3#title(style="padding-left:20px"): a(href="/#/code" style="text-decoration: none !important") Adam Yee
    div#message-app
      form#form(method="post" action="/messages/" class="form-inline")
        label(for="msg" class="control-label") Enter message 
        input#msg(class="form-control" type="text" placeholder="..." style="width:350px;")
        input#submit(type="submit" value="submit")
      
      div#notification
        span#notify-text
        button#close(type="button" class="close") ×
      
      hr
      div#message-list
    
    script(data-main="/javascripts/messages-backbone/message-app.js" src="/javascripts/bower_components/requirejs/require.js")
