extends ../analytics-wrapper.jade

block head
  title= 'Polymer Mine Sweeper'
  script(src='/javascripts/bower_components/webcomponentsjs/webcomponents.js')
  link(rel='import' href='/javascripts/bower_components/play-minesweeper/play-minesweeper.html')

block content
  body
    a(href='/#code') Back
    play-minesweeper
