extends ../analytics-wrapper.jade

block head
  title= 'Polymer Mine Sweeper'
  script(src='/javascripts/bower_components/webcomponentsjs/webcomponents.js')
  script(src='/javascripts/bower_components/polymer-minesweeper/lib/browser-polyfill.js')
  link(rel='import' href='/javascripts/bower_components/polymer-minesweeper/ms-play.html')

block content
  body
    a(href='/#code') Back
    ms-play
