extends ../analytics-wrapper.jade

block head
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=0.6")
  meta(name="description" content="Consuming a Yelp API to experimenting with various frameworks.")
  title AY - Yelp Search/title
  link(rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.css")
  link(rel="stylesheet" href="/stylesheets/yelp-app.css")
  
  script(src="/javascripts/bower_components/jquery/jquery.js")
  script(src="/javascripts/bower_components/angular/angular.js")
  script(src="/javascripts/yelp-app/angular-yelp.js")
  script(src="/javascripts/yelp-app/search.js")
  script(src="/javascripts/bower_components/angular-resource/angular-resource.js")
  script(src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.js")

block content
  body
    div.header.group
      h2: a(href="/#code") Adam Yee
      div#title Simple Yelp search (API v1.0)
    
    div Each tab implemented with a different library or framework.
    
    ul.nav.nav-tabs(role="tablist")
      li: a(href="#jquery" role="tab" data-toggle="tab") JQuery
      li.active: a(href="#angular" role="tab" data-toggle="tab") AngularJS

    div.tab-content
      div#jquery.tab-pane
        form.form-inline
          input(type="text" class="form-control" name="search_term" placeholder="search term")
          input(type="text" class="form-control" name="search_neighborhood" placeholder="neighborhood")
          button#jquery-search(type="submit" class="btn btn-default") Search
        div#jquery-results
          h4 Results
          span#loading-indicator loading...
          ul

      div#angular.tab-pane.active(ng-app="Yelp")
        div(ng-controller="YelpCtrl")
          form.form-inline
            input(type="text" class="form-control" placeholder="search term" ng-model="term")
            input(type="text" class="form-control" placeholder="neighborhood" ng-model="location")
            button.btn.btn-default(ng-click="doSearch($event)") Search
          span{{wait}}
          ul
            li(ng-repeat="b in yelpResult.businesses") {{b.name}}
