h3 Me
p Hi! You've reached my personal web page.
p
  | One time in my life, I thought I wanted to be a physicist. But learning Python at the tail end of my undergrad
  | was the start of my passion for programming. So I went back to school for computer science after finding 
  | web development as an interest and went on to write a thesis for a 
  a.link(href="http://dl.acm.org/citation.cfm?doid=2379436.2379439" target="_blank") project&nbsp;
  | that creates custom file system interfaces to Hadoop MapReduce.
p
  | As of now I'm beefing up my web development skills and enjoying Javascript every day while working at 
  a.link(href="https://www.xero.com" target="_blank") Xero.

h3#interests Interests
p.
  Closure and the expressiveness of Javascript was an eye opener for me.
  Learning Javascript, building with it and seeing where it's headed has made me a follower
  and I can't wait to see where it takes me.
p
  | Recently, I've had the privilege to build a 
  a.link(href="http://nodejs.org/") NodeJS&nbsp;
  | application as I move towards a full stack role.
  
p Apart from being a husband and father, I like to stay current with the JavaScript community and learn all the things.
