ul
  li
    a.link(href="/code/play-minesweeper/")
      code &lt;play-minesweeper&gt;&nbsp;
    span.created created December 2014
    p A Polymer web component
  li
    a.link(href="/code/canvas/") Playing with &nbsp;
      code.created &lt;canvas&gt;&nbsp;
    span.created created June 2014
  li
    a.link(href="/code/yelp/") Using a Yelp API v1.0&nbsp;
    span.created created June 2014
    p A chance to get my feet wet with third party APIs and experiment with various MVC frameworks.
