paper-button#showhide(noink) show all
div.updated-date
  span Updated: 2016-07-16
div.header
  div.arrow
    iron-icon.large(icon='chevron-right')
  h2 Summary of Qualifications
div.section  
  p I'm comfortable getting my hands dirty with the whole web development stack - from dev ops to SQL to JavaScript.
  p I'm experienced with unit and automation testing.
  p I bring balance between business and technical needs.

div.header
  div.arrow
    iron-icon.large(icon='chevron-right')
  h2 Technical Skills
div.section
  h3 Most Currently Used
  p.skills JavaScript, Node.js, Express, C#, SQL, Git, Scrum, Unit Testing, TeamCity

  h3 Less Often Used
  p.skills HTML, CSS/Sass, Knockout, Durandal, jQuery, Grunt

  h3 Currently Learning
  p.skills
    a.link(href="http://www.ecma-international.org/ecma-262/6.0/" target="_blank") ES6&nbsp;
    | (ECMAScript 2015), React, AWS, Docker

  h3 Previously Used
  p.skills Apache, Ant, Backbone, C/C++, Django, Gulp, Hadoop, Handlebars, Java, Jenkins, Machine Learning, Network Programming, Python

div.header
  div.arrow
    iron-icon.large(icon='chevron-right')
  h2 Professional Experience
div.section
  h3: a.link(href="https://www.xero.com" target="_blank") Xero&nbsp;
  span.job-title - Full Stack Developer (front end focus) - August 2014 to present
  div.project(vertical layout)
    div.what
      p
        | Starting in August 2014 I joined the Payroll Team building an easy to use, intuitive experience. We rely heavily on Knockout's data binding
        | and structure our application with Durandal. There's a large collection of web components built with Bootstrap, jQuery and Knockout, but
        | we're dabbling in React.
      p
        | In 2015 I delved into the back end to contribute to our C# codebase and tweak SQL tables.
        | I also helped create a selenium project built on node.js and webdriver.io.
      p
        | My latest project is a BFF (backend for frontend) that sits between mobile clients and various micro services.
        | Built with NodeJS (ES6) and ExpressJS, the BFF's role is to aggregate services and provide a clean client API.

    div.tech ❯ Knockout, Bootstrap, Durandal, RequireJS, Sass, C#, SQL, Selenium, NodeJS, ExpressJS

  h3 Autodesk&nbsp;
  span.job-title - Front End Web Developer - August 2013 to July 2014
  div.project
    div.what
      p
        | Worked with various cross functional teams where we continuously designed and maintained Autodesk's main 
        a.link(href="https://manage.autodesk.com" target="_blank") Customer Portal.&nbsp;
        | Applied previous unit test experience to bring Javascript unit testing to a testless 
        | frontend code base using Jasmine and Sinon. I had the privilege to rewrite the frontend
        | build script and integrate it to Jenkins for CI. Enjoyed developer collaboration to
        | implement good design patterns and build new REST APIs.
      p.
        Served as a technical UI lead to build an In Product Purchase Chromium applicaton.
        Similar to Adobe products' try to buy, in a seamless experience the customer will is able 
        to purchase a yearly/monthly subscription while within the product and immediately see the benefits of their purchase.
    div.tech ❯ Backbone.js, JQuery, Handlebars, RequireJS, Bootstrap, Less, CSS3
  
  h3 The Agate Group&nbsp;
  span.job-title - Salesforce Developer - April 2012 to July 2012
  div.project
    div.what.
      Developed custom Salesforce.com solutions.
      Wrote Apex Classes, Custom Controllers, Extension Controllers and Apex Triggers.
      Developed Custom Objects, Tabs, validation rules, formula fields.
      Designed and developed user interfaces with Visual Force, jQuery and Bootstrap.
      Worked with Salesforce.com Standard objects.
      Customized Reports and Dashboards.
    div.tech ❯ Visual Force, Apex, JQuery, Bootstrap
  
  h3 Performance Technology Partners&nbsp;
  span.job-title - Java Developer - April 2012 to April 2013
  div.project
    div.what.
      Developed Interactive Voice Response (IVR) applications. Developed
      internal frameworks and documentation. Unit testing and application test suites.
    div.tech ❯ Java, JUnit, TestNG, Tomcat, Spring

div.header
  div.arrow
    iron-icon.large(icon='chevron-right')
  h2 Education
div.section
  h3 MS - Computer Science&nbsp;
  span.job-title(style='display: inline-block;') - University of the Pacific - August 2010 to December 2011
  p.skills
    | Thesis - designed and implemented the Hadoop FileSystem Agnostic API
    | (HFAA). It allows Hadoop’s MapReduce engine to interface with any
    | file system over TCP sockets and simplifies integration. Tested
    | and performed proof of concept with OrangeFS (PVFS).
    br
    | ACM Workshop paper - 
    a.link(href="http://dl.acm.org/citation.cfm?doid=2379436.2379439" target="_blank") HFAA: a generic socket API for Hadoop file systems
  h3 BS - Engineering Physics&nbsp;
  span.job-title(style='display: inline-block; margin-bottom: 25px;') - University of the Pacific - 2002 to 2007
