h2 First Blog

span.font-size-x-small 2016-07-02

p.
  I've worked in tech for about 5 years. Now at a ripening age of 32
  <a class="link font-size-x-small sup" href='#fn1'><sup>1</sup></a>
  and feeling a little embarrassed, I write my first blog! There's something comforting
  in new beginnings.
  Reboot. Reset. From the ground up. It feels refreshing and inspiring. It makes you feel
  like a conqueror, yet you also feel potential. Beginning anew unlocks creativity and helps
  produce a healthy kind of dopamine.
p.
  So here's to a new thing where I will reveal my digital self and attempt to publish
  meaningful, useful stuff. You can expect to read about tech (probably JavaScript/Node.js)

  ... and that's going to be it for now.

span#fn1.font-size-x-small.footnote.
  1. 32 in 2016 feels a little late to the game for a first blog.