extends ../analytics-wrapper.jade

block head
  title adamjyee
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")

block content
  div#marque
    a(href="/") Adam Yee
  div
    a(href="/blog") Blog Home

  h3 First Blog

  span 2016-07-02 (Saturday, July 2nd, 2016)

  p.
    I've worked in tech for about 5 years. Now at the ripe* age of 32 and feeling a little embarrassed, I write my first blog.
    There's something comforting in new beginnings. Reboot. Reset. From the ground up. It feels refreshing and inspiring. It makes you feel
    like a conqueror, yet you also feel potential. Beginning anew unlocks creativity and helps produce the right kind of dopamine.
  p.
    So here's to a new thing where I will reveal my digital self and attempt to publish meaningful, useful stuff. You can expect to read 
    about tech (probably JavaScript/Node.js)...and that's going to be it for now.

  a(class="muut" href="https://muut.com/i/adamjyee/comments" type="dynamic")
  script(src="//cdn.muut.com/1/moot.min.js")
