extends ../extends/analytics-wrapper.jade

block head
  include ../include/blog-head.jade

block content
  include ../include/blog-nav.jade
  
  main.max-width-800.margin-auto
    div 404 - article not found